body {
    background-image: url("assets/images/camping-wall.jpg");
    font-size: 16px;
    color: rgb(235, 235, 235);
    font-family: 'Meera Inimai', sans-serif;
}

.header {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 80px;
}


.game {
    height: 60%;
    text-align: center;
}

.violet {
    background-color: rgb(243, 188, 243);
}

.hide {
    visibility: hidden;
}
